{% extends 'senior_web/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}

<div class="container">
  <div class="row my-4">
    <div class="col-lg-6 mx-auto">
      <form action="{% url 'encrypt' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ context.form | crispy }}
        <button type="submit" class="btn btn-primary w-100">Encrypt</button>
      </form>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-6 mx-auto">
      {% if context.img != None %}
      <img class="w-100" src="{% static 'web/results/encrypted_image.png' %}" alt="">
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}