.active {
    color: gray;
}

.icon {
    display: block;
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    font-size: 1rem;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    color: #1D809F;
    background-color: white;
    text-decoration: none;
}
